.inner-content {
  position: absolute;
  left: 50%;
  top: 15%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button {
  margin: 11px;
}

span.wrap {
  white-space: normal;
}

div {
  text-align: center;
}

h1 {
  font-family: cursive;
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "a n1 c"
    "a n2 c"
    "a n3 c";
}

.n3 {
  grid-area: n3;
  height: 120px;
}

.n1 {
  grid-area: n1;
  height: 10vh;
  width: max-content;
}

.n2 {
  grid-area: n2;
  height: 120px;
}

.a {
  grid-area: a;
}

.c {
  grid-area: c;
}
